
<color-picker [rgbr] = "a">
</color-picker>

<input type="number" [(ngModel)]="a">
<p> {{a}}</p>































<!-- <div class="mo-color-sat-val" [ngStyle]="{'background':rgbSelect.value|rgbValue}">
</div>
  <input type="rgb">
 
  <input  type="range" name="" id="" max="360" min="0" step = "1" [(ngModel)]="a"  #rgbSelect>

  <p> {{a}}</p>


  <div class="mo-color-hue">
    <input type="range" name=" pickcolor" id="" max="360" min="0" step = "1" value= "0"  [(ngModel)]="a"  #rgbSelect>
    <div class="mo-color-rail"></div>
      <span></span>
  </div>

  <div class="mo-color-alpha">
    <input type="range"  name=" pickalpha" id="" max="360" min="0" step = "1"  >
    <div class="mo-color-rail"></div>
      <span></span>
  </div>
   -->
  
  

  