<div id="mo-color-sat-val" >
    <div id="mo-color-thumb" role="slider" tabindex="0">
    </div>
  </div>
  <br>
  <div id="mo-color-sat-val1" >
  </div>
  
  <div id="mo-color-hue">
    <div id="mo-color-rail"></div>
    <div id="mo-color-thumb1" role="slider" tabindex="0">
      
    </div>
  </div>
  
  
  <div id="mo-color-alpha" >
    <div id="mo-color-rail"></div>
    <div id="mo-color-thumb2"   role="slider" tabindex="0">
      
    </div>
  </div>
  
  <input [(ngModel)]="R">
  <input [(ngModel)]="G">
  <input [(ngModel)]="B">
  
